:root {
  --color-php-blue: #4f5b93;
  --color-php-magenta: #793862;
  --color-border: #ddd;
}
html, body {
  height: 100vh;
}
body {
  background: #f2f2f2;
  color: #333;
  font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 20px;
  border-top: 5px var(--color-php-blue) solid;
}
a {
  color: var(--color-php-blue);
}
a:hover,
a:active {
  color: var(--color-php-magenta);
}
h1,
h2,
h3,
strong,
b {
  font-weight: 600;
}
em {
  font-style: italic;
}
#intro-wrapper {
  background: #eee;
  padding: 3rem 0;
  margin-bottom: 3rem;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 7rem;
  margin: 1rem 0;
  color: var(--color-php-blue);
}
h3 {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;
}
#header {
  margin: 3rem auto 6rem;
  text-align: center;
}

#stats {
  margin: 2rem 0;
}
#stats > div {
  margin-bottom: 1rem;
  border-left: 5px var(--color-border) solid;
  padding: 0 1.5rem;
  text-align: left;
}
#stats > div > a:last-child {
  display: block;
  margin-top: 0.5rem;
  color: #999;
  font-size: 0.9rem;
}
#stats > div b {
  display: block;
  font-size: 2.5rem;
}
#stats-footer {
  text-align: right;
  font-size: 0.8em;
  color: #bbb;
}

#resources ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
}
#resources li:not(:last-child):after {
  content: "\2022";
  color: #aaa;
}
#resources a {
  display: inline-block;
  padding: 0.5rem 0.75rem;
}

#tools > ul > li {
  display: flex;
  background: #eaeaea;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}
#tools > ul > li:hover {
  background-color: #eee;
}
#tools > ul > li > a {
  flex-grow: 1;
  margin: 0 0.5rem;
}
#tools > ul > li > a > b {
  display: block;
}
#tools > ul > li > a > span {
  color: #888;
  font-size: 0.9rem;
}
#tools > ul > li > img {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}
#tools > ul > li > span {
  white-space: nowrap;
  font-size: 0.9rem;
}
#tools > ul > li > span.stars:after {
  content: " \2605";
}
#tools > ul > li > span.globe:after {
  content: " \1f30e";
}
#link-github {
  display: block;
  line-height: 24px;
}
#link-github > svg {
  height: 24px;
  opacity: 0.7;
  vertical-align: middle;
}
#link-github:hover > svg,
#link-github:focus > svg {
  opacity: 0.9;
}

#footer {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px var(--color-border) solid;
  font-size: 0.8em;
}
#footer > div {
  margin-top: 1rem;
  color: #bbb;
  font-family: Monaco, Consolas, Menlo, Inconsolata, Lucida, "Courier New", monospace;
}
.heart {
  color: #c83200;
}
.code-meta {
  color: #61aeee;
}
.code-variable {
  color: #d19a66;
}
.code-string {
  color: #98c379;
}

@media (min-width: 960px) {
  .container {
    width: 960px;
  }

  #stats {
    display: flex;
    column-gap: 3rem;
  }

  #stats > div {
    width: 33.33333%;
  }

  #resources > .d-flex {
    display: flex;
  }

  #tools > ul {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  #footer > div {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
